<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android_study">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!--
  If you use android.hardware.camera without .any, it will not work if you have a device without a back camera, such as most Chromebooks.
     The second line adds the permission to access that camera.
    -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="._base.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <!-- IPC-Service -->
        <service
            android:name=".android.ipc.binder.LoginService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="aidl_login_action" />
            </intent-filter>
        </service>
        <service
            android:name=".android.ipc.messager.MessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="aidl_messenger_action" />
            </intent-filter>
        </service>

        <activity android:name=".performance.POMemoryMainActivity" />
        <activity android:name=".android.location.AndroidLocationManagerMainActivity" />
        <activity android:name=".android.data_and_file.internal_and_outspace.AndroidDataAndFileIOSpaceActivity" />
        <activity android:name=".android.data_and_file.AndroidDataAndFileMainActivity" />
        <activity android:name=".jetpack.camera.recordVideo.CameraXRecordVideoActivity" />
        <activity android:name=".jetpack.camera.preview.CameraXPreviewActivity" />
        <activity android:name=".jetpack.camera.CameraXMainActivity" />
        <activity android:name=".jetpack.viewmodel.isInstance.ViewModelTestActivity" />
        <activity android:name=".jetpack.viewmodel.JetpackViewModelMainActivity" />
        <activity android:name=".android.media.douyin.jz_viewpager2.JzTikTokViewPager2Activity" />
        <activity android:name=".android.media.douyin.jz_recyclerview.JzTikTokActivity" />
        <activity android:name=".android.media.douyin.gsy_viewpager2.GsyViewPager2Activity" />
        <activity android:name=".android.media.douyin.ex_recyclerView.MediaPlayerRecyclerViewActivity" />
        <activity android:name=".android.media.douyin.ex_viewpager2.MediaPlayerViewPager2Activity" />
        <activity android:name=".android.media.MediaPlayerMainActivity" />
        <activity android:name=".kotlin.flow.flow_livedata.KotlinFlowAndLiveDataSecondActivity" />
        <activity android:name=".kotlin.flow.flow_livedata.KotlinFlowAndLiveDataActivity" />
        <activity android:name=".ui.viewSystem.choreographer.UIViewSystemChoreographerActivity" />
        <activity android:name=".ui.viewSystem.UIViewSystemActivity" />
        <activity android:name=".kotlin.flow.switchThread.kotlinFlowSwitchThreadActivity" />
        <activity android:name=".android.handler.handlerThread.HandlerThreadActivity" />
        <activity android:name=".other.status_bar.immerse.StatusBarImmerseActivity" />
        <activity android:name=".other.status_bar.StatusBarMainActivity" />
        <activity android:name=".android.handler.threadLocal.HandlerThreadLocalActivity" />
        <activity android:name=".android.handler.HandlerMainActivity" />
        <activity android:name=".android.drawable_and_graph.bitmap.loadBitmap.AndroidBitmapActivity" />
        <activity android:name=".ui.viewpager2.UIViewPager2MainActivity" />
        <activity android:name=".ui_custom.samples.UICusSamplesActivity" />
        <activity android:name=".kotlin.flow.operator.KotlinFlowOperatorMainActivity" />

        <service
            android:name=".android.service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".android.service.ServiceMainActivity" />
        <activity android:name=".ui.recyclerView.diffutil.UIRecyclerViewDiffUtilActivity" />
        <activity android:name=".kotlin.base._3_nullPointException.KotlinBaseNullPointMainActivity" />
        <activity android:name=".jetpack.paging3._main.JetPackPagingMainActivity" />
        <activity android:name=".kotlin.base._2_function.KotlinFunctionMainActivity" />
        <activity android:name=".kotlin.base._1_array.KotlinArrayMainActivity" />
        <activity android:name=".kotlin.base.KotlinBaseMainActivity" />
        <activity android:name=".kotlin.flow.KotlinFlowMainActivity" />
        <activity android:name=".kotlin.flow.base.KotlinFlowBaseActivity" />
        <activity android:name=".kotlin.collection.CollectionMainActivity" />
        <activity android:name=".ui.recyclerView.UIRecyclerViewMainActivity" />
        <activity android:name=".kotlin.collection.stream_sequence.KotlinCollectionStreamSequenceActivity" />
        <activity android:name=".ui.materialDesign.appbarlayout.AppbarLayoutActivity" />
        <activity android:name=".ui.materialDesign.coordinatorLayout.CoordinatorLayoutActivity" />
        <activity android:name=".ui.materialDesign.MaterialDesignMainActivity" />
        <activity android:name="com.example.android_study.android.activity.fragment.fragmentManager.FragmentManagerActivity" />
        <activity android:name="com.example.android_study.android.activity.fragment.FragmentMainActivity" />
        <activity android:name=".other.git.GitActivity" />
        <activity android:name=".samples.gallery.GalleryMainActivity" />
        <activity android:name=".ui.viewpager2.fragmentLifecycle.ViewPager2FragmentLifecycleActivity" />
        <activity android:name=".other.utils.UtilsActivity" />
        <activity android:name=".samples.gallery.gallery1.GalleryActivity" />
        <activity android:name=".samples.gallery.gallery2.Gallery2Activity" />
        <activity android:name=".jetpack.demo_wanandroid.WanandroidMainActivity" />
        <activity
            android:name=".jetpack.navigation.bottom_navigation.BottomNavAy"
            android:label="@string/title_activity_bottom_nav_ay" />
        <activity android:name=".jetpack.navigation.NavigationTestActivity" />
        <activity android:name=".kotlin.coroutine._1_BaseAy" />
        <activity android:name=".kotlin.coroutine.cancel.CoroutineCancelAy" />
        <activity android:name=".jetpack.paging3.PagingAy" />
        <activity android:name=".Java.Juc.join.JucJoinActivity" />
        <activity android:name=".Java.Juc.interrupt.InterruptActivity" />
        <activity android:name=".Java.Juc._production_consumption.JucProductionConsumptionActivity" />
        <activity android:name=".Java.Juc.JavaJucActivity" />
        <activity android:name=".jetpack.demos.navigation_viewmodel.NavigationViewModelAy" />
        <activity android:name=".jetpack.demos.DemosAy" />
        <activity android:name=".jetpack.navigation.base.NavigationAy" />
        <activity android:name=".jetpack.demos.viewmodel.ScoreBoardAy" />
        <activity android:name=".jetpack.databinding.DataBindingAy" />
        <activity android:name=".kotlin.coroutine.CoroutinesAy" />
        <activity android:name=".jetpack.demo_aac.ui.activity.AACDemoActivity" />
        <activity android:name=".framework._network.NetWorkAy" />
        <activity android:name=".android.webview.display_vue_project.WebViewAy" />
        <activity android:name=".jetpack.livedata.LiveDataAy" />
        <activity android:name=".jetpack.lifecycle.LifecycleAy" />
        <activity android:name=".jetpack.room.RoomAy" />
        <activity android:name=".android.database.sqlLite.SQLiteAy" />
        <activity android:name=".android.database.sp.SpAy" />
        <activity android:name=".android.database.file.FileAy" />
        <activity android:name=".android.database.MainDataBaseAy" />
        <activity android:name=".jetpack.viewmodel.viewmodel.ViewModelAy" />
        <activity
            android:name=".android.activity.lifecycle.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".other.status_bar.common.StatusBarAy" />
        <activity android:name=".performance.memory.PerformanceMemoryLeakAy" />
        <activity android:name=".ui.materialDesign.sample.MaterialAy" />
        <activity android:name=".ui_custom.calendar.CalendarAy" />
        <activity android:name=".ui.popup_window.PopupWindowAy" />

        <service android:name="._base.cmd.FloatViewService" />

        <activity android:name=".ui.recyclerView.gesture.UIRecyclerViewDragActivity" />
        <activity android:name="._base.BaseActivity" />
        <activity android:name=".android.activity.lifecycle.LifecycleActivity" />
        <activity android:name=".android.activity.lifecycle.Lifecycle2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".android.drawable_and_graph.AndroidDrawableGraphMainActivity" />
        <activity android:name=".android.drawable_and_graph.transtionDrawable.AndroidTransitionDrawableActivity" />
        <activity android:name=".android.drawable_and_graph.drawable.AndroidDrawableActivity" />
        <activity android:name=".Java.io.JavaIOActivity" />
        <activity android:name=".Java.io.file.JavaIOFileActivity" />
        <activity android:name=".ui.recyclerView.section.UIRecyclerViewSectionActivity" />
        <activity android:name=".android.wifi.WifiMainActivity" />
        <activity android:name=".android.wifi.ConnectionManagerActivity" />
        <activity android:name=".android.wifi.WifiNetworkSuggestionActivity" />
        <activity android:name=".android.location.LocationMainActivity" />
        <activity android:name=".ui.materialDesign.bug.CoordinatorLayoutBugActivity" />
        <activity android:name=".ui_custom.study.UICusStudyActivity" />
        <activity android:name=".ui_custom.study._1_standard.UICusStandardActivity" />
        <activity android:name=".ui_custom.study._2_measure_layout.UICusMeasureLayoutActivity" />
        <activity android:name=".ui_custom.study._3_gesture._1_interface.UICusGestureInterfaceActivity" />
        <activity android:name=".ui_custom.study._3_gesture.UICusGestureActivity" />
        <activity android:name="com.example.android_study.ui_custom.demo.standard.UICusStandardDemoActivity" />
        <activity android:name=".ui_custom.anim.UICusAnimActivity" />
        <activity android:name=".ui_custom.anim.anim.UICusAnimMainActivity" />
        <activity android:name=".ui_custom.anim.animator._UICusMainActivity" />
        <activity android:name=".ui_custom.anim.viewGroup_anim._UIViewGroupAnimMainActivity" />
        <activity android:name=".ui_custom.anim.path_measure.UIPathMeasureStandardActivity" />
        <activity android:name=".ui_custom.anim.svg._UISVGMainActivity" />
        <activity android:name=".ui_custom.study._Paint._UICusStudyPaintActivity" />
        <activity android:name=".ui_custom.study._Canvas._UICusStudyCanvasActivity" />
        <activity android:name=".ui_custom.study._Drawable._UICusDrawableActivity" />
        <activity android:name=".ui_custom.study._Bitmap._UICusBitmapActivity" />
        <activity android:name=".ui_custom.study._SurfaceView._UICusSurfaceViewActivity" />
        <activity android:name=".ui_custom.study._Packge_View._UICusPackageViewActivity" />
        <activity android:name=".ui_custom.study._Matrix._UICusMatrixActivity" />
        <activity android:name=".ui_custom.study._3_gesture.demo.my_view_pager.UICusGestureMyViewPagerActivity" />
        <activity android:name=".ui.recyclerView.diffutil.UIRVDiffUtilMainActivity" />
        <activity android:name=".ui_custom.study._Camera._UICusCameraActivity" />
        <activity android:name="com.example.android_study.event_system.event.UICusEventActivity" />
        <activity android:name="com.example.android_study.event_system.event.dispatchTouchEvent.BConsumeActivity" />
        <activity android:name="com.example.android_study.event_system.event.dispatchTouchEvent.BNotConsumeActivity" />
        <activity android:name="com.example.android_study.event_system.event.dispatchTouchEvent.AInterceptDownActivity" />
        <activity android:name="com.example.android_study.event_system.event.dispatchTouchEvent.AInterceptDownConsumeActivity" />
        <activity android:name="com.example.android_study.event_system.event.dispatchTouchEvent.AInterceptMoveActivity" />
        <activity android:name="com.example.android_study.event_system.event.dispatchTouchEvent.AInterceptMoveConsumeActivity" />
        <activity android:name="com.example.android_study.event_system.event.conflict.ConflictAActivity" />
        <activity android:name="com.example.android_study.event_system.event.conflict.ConflictBActivity" />
        <activity android:name=".android.data_and_file._ContentProvider.AndroidContentProviderMainActivity" />
        <activity android:name=".ui.recyclerView.itemDecoration.RVItemDecorationActivity" />
        <activity android:name=".ui.recyclerView.layoutManager.RVLayoutManagerActivity" />
        <activity android:name=".ui_custom.anim.transition.UITransitionMainActivity" />
        <activity android:name=".ui_custom.anim.transition._UITransitionShareElementActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.Scroller.scroll.ScrollerActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.ViewDragHelper.drag.ViewDragHelperActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.ViewDragHelper.ViewDragHelperMainActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.ViewDragHelper.drag_edge.ViewDragHelperEdgeActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.ViewDragHelper.scroll.ViewDragHelperScrollActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.Scroller.ScrollerMainActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.Scroller.fling_view.ScrollerFlingActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.ViewDragHelper.fling.ViewDragHelperFlingActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.ViewDragHelper.demo_slide_menu.ViewDragHelperSlideMenuActivity" />
        <activity android:name="com.example.android_study.event_system.event_util.Scroller.scroll_view.ScrollerActivity1" />
        <activity android:name="com.example.android_study.event_system.event_util.Scroller.fling.ScrollerFlingActivity1" />
        <activity android:name="com.example.android_study.event_system.event_util.UICusEventUtilActivity" />
        <activity android:name=".ui.viewSystem.windowManager.UIViewSystemWindowManagerActivity" />
        <activity android:name=".android.ipc.IPCMainActivity" />
        <activity android:name=".android.ipc.binder.IPCAIDLActivity" />
        <activity android:name="com.example.android_study.event_system.event.dispatchTouchEvent.BConsumeAllActivity" />
        <activity android:name="com.example.android_study.event_system.event_nest.nest.NestMainActivity" />
        <activity android:name="com.example.android_study.event_system.event_nest.UICusEventNestActivity" />
        <activity android:name="com.example.android_study.event_system.event_nest.scrollViewNest.NestScrollViewMainActivity" />
        <activity android:name="com.example.android_study.event_system.event_nest.nestScrollViewNest.NestNestScrollViewMainActivity" />
        <activity android:name=".android.ipc.messager.IPCMessengerActivity" />
        <activity android:name=".android.drawable_and_graph.bitmap.AndroidBitmapMainActivity" />
        <activity android:name=".android.drawable_and_graph.bitmap.lrucache.AndroidLruCacheActivity" />
        <activity android:name=".framework.glide.FWGlideAy" />
        <activity android:name=".android.drawable_and_graph.bitmap.lrucache_disk.AndroidDiskLruCacheActivity" />
        <activity android:name=".android.drawable_and_graph.bitmap.demo.AndroidLoadBitmapDemoActivity" />
        <activity android:name=".network.okhttp.OkHttpMainActivity" />
        <activity android:name=".network.okhttp.use.OkHttpUseActivity" />
        <activity android:name=".android.webview.AndroidWebViewMainActivity" />
        <activity android:name=".android.webview.interaction.WebViewInteractionMainActivity" />
        <activity android:name=".android.webview.interaction.js_call_android.JsInteractionActivity" />
        <activity android:name=".ui.recyclerView.itemTouchHelper.meet.RVItemTouchHelperMeetActivity" />
        <activity android:name=".ui.recyclerView.itemTouchHelper.RVItemTouchHelperMainActivity" />
        <activity android:name=".ui.recyclerView.itemTouchHelper.pointDrag.RVItemTouchHelperPointDragActivity" />
        <activity android:name=".ui.recyclerView.itemTouchHelper.childDrarw.RVItemTouchHelperChildDrawActivity" />
        <activity android:name=".android.media.custom_mediaplayer.MediaPlayerCustomActivity" />
        <activity android:name=".android.media.simple.MediaPlayerSimpleActivity" />
        <activity android:name=".ui.viewSystem.viewTreeObserver.UIWindowAttachActivity" />
        <activity android:name=".ui.viewSystem.viewTreeObserver.UIWindowFocusActivity" />
        <activity android:name=".ui.viewSystem.viewTreeObserver.UIGlobalFocusActivity" />
        <activity android:name=".ui.viewSystem.viewTreeObserver._UIViewSystemViewTreeObserverActivity" />
        <activity android:name=".ui.viewSystem.viewTreeObserver.UIGlobalLayoutActivity" />
        <activity android:name=".ui.viewSystem.viewTreeObserver.UIPreDrawActivity" />
        <activity android:name=".ui.viewSystem.viewTreeObserver.UIDrawActivity" />
        <activity android:name=".ui.viewSystem.view_invalidate_requestLayout._UIViewSystemViewIRActivity" />
        <activity android:name=".ui.viewSystem.layoutInflater._UIViewSystemLayoutInflaterActivity" />
        <activity android:name=".ui.viewSystem.view_post._UIViewSystemViewPostActivity" />
        <activity android:name=".Java.MemoryModel.String.JavaStringMMActivity" />
        <activity android:name=".Java.MemoryModel.JavaMMActivity" />
        <activity android:name=".Java.Juc.wait_notify.JucWaitNotifyActivity" />
        <activity android:name=".android.handler.intentService.HandlerIntentServiceActivity" />
        <activity android:name=".android.activity.AndroidActivity" />
        <activity android:name=".android.activity.launchMode.singleTask.SingleTaskActivity" />
        <activity android:name=".android.activity.launchMode.LaunchModeActivity" />
        <activity android:name=".android.activity.launchMode.singleTask.TaskAffinitySameActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".android.activity.launchMode.singleTask.TaskAffinityDiffActivity"
            android:launchMode="singleTask"
            android:taskAffinity="my.task"/>
        <activity android:name=".android.activity.launchMode.singleInstance.SingleInstanceActivity" />
        <activity android:name=".android.activity.launchMode.singleTop.SingleTopActivity"
            android:launchMode="singleTop"
            android:taskAffinity="com.a"/>
        <activity android:name=".android.activity.fragment.create.FragmentCreateAy" />
        <activity android:name=".android.activity.fragment.withAnimation.FragmentWithAnimationActivity" />
        <activity android:name=".android.activity.fragment.lifecycle.FragmentLifecycleAy" />
        <activity android:name=".android.activity.fragment.communication.FragmentCommunicationAy" />
        <activity android:name=".android.activity.result_api.ActivityResultApiSendAy" />
        <activity android:name=".android.activity.result_api.ActivityResultApiReceiveAy" />
        <activity android:name=".ui.recyclerView.positioin.RVPositionMainActivity" />
        <activity android:name=".other.adb.ADBActivity" />
        <activity android:name="com.example.android_study.ui_custom.demo.demo_map.UIPathMeasureDemoMapActivity" />
        <activity android:name=".ui_custom.demo.UICusDemoMainActivity" />
        <activity android:name=".samples.photoTag.PhotoTagMainActivity" />
        <activity android:name=".samples.photoTag.ImageEditActivity" />
        <activity android:name=".samples.photoTag.ImageDotActivity" />
        <activity android:name=".event_system.multi_touch.EventMultiTouchMainActivity" />
        <activity android:name=".event_system.multi_touch.base_print.EventMTBaseTouchActivity" />
        <activity android:name=".event_system.multi_touch.show_second_touch.EventMTSecondTouchActivity" />
        <activity android:name=".event_system.multi_touch.scale_image.EventMTScaleImageActivity" />
        <activity android:name=".android.drawable_and_graph.bitmap.reuse.AndroidBitmapReuseActivity" />
        <activity android:name=".samples.largePhoto.region_inflate.LargePhotoRegionActivity" />
        <activity android:name=".samples.largePhoto.third_framework.LargePhotoThirdMainActivity" />
        <activity android:name=".samples.largePhoto.LargePhotoMainActivity" />
        <activity android:name=".ui_custom.demo.flipbord.UICusFlipViewActivity" />
        <activity android:name=".ui_custom.demo.foldingLayout.UICusFoldingLayoutActivity" />
        <activity android:name=".kotlin.flow.flow_code.KotlinFlowCodeActivity" />
        <activity android:name=".kotlin.channel.KotlinChannelMainActivity" />
        <activity android:name=".kotlin.select.KotlinSelectMainActivity" />
        <activity android:name=".kotlin.flow.stateFlow_sharedFlow.KotlinStateFlowSharedFlowActivity" />
        <activity android:name=".kotlin.flow.exception.KotlinFlowExceptionActivity" />
        <activity android:name=".kotlin.flow.completion.KotlinFlowCompletionActivity" />
        <activity android:name=".kotlin.flow.cancel.KotlinFlowCancelActivity" />
        <activity android:name="com.example.android_study.kotlin.coroutine.base.sample_for_debug.CoroutineSampleActivity" />
        <activity android:name=".kotlin.coroutine.coroutineContext.CoroutineContextActivity" />
        <activity android:name=".kotlin.coroutine.base.understandCoroutine.CoroutineUnderstandActivity" />
        <activity android:name=".kotlin.coroutine.exception.CoroutineExceptionAy" />
        <activity android:name=".performance.crash.PerformanceCrashActivity" />
        <activity android:name=".kotlin.coroutine.scope.CoroutineScopeAy" />
        <activity android:name=".kotlin.coroutine.startMode.CoroutineStartModeAy" />
        <activity android:name=".performance.layout.PerformanceLayoutActivity" />
        <activity android:name=".design._1_Singleton.DesignSingletonActivity" />
        <activity android:name=".design.DesignMainActivity" />
        <activity android:name=".android.notification.NotificationMainActivity" />
        <activity android:name=".android.notification.NotificationActivity" />
        <activity android:name=".performance.power.PerformancePowerMainActivity" />
        <activity android:name=".performance.power.wakelock.WakelockAy" />
        <activity android:name=".android.bluetooth.AndroidBluetoothMainActivity" />
        <activity android:name=".android.bluetooth.BluetoothApiActivity" />
        <activity android:name=".android.media.AudioApiActivity" />
        <activity android:name=".android.media.MediaPlayerMusicActivity" />

        <provider
            android:name=".android.data_and_file._ContentProvider.MyContentProvider"
            android:authorities="${applicationId}.mycontentporvider"
            android:exported="true" />
    </application>

</manifest>